body {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
      .grow{
    	transition:all 0.3s ease;
    }
      .grow: hover{
      	-webkit-transform: scale(1.3);
    	-ms-transform: scale(1.3);
    	transform: scale(1.3);
    }
     {
	  	font-family: Geneva, Tahoma, sans-serif;
	  	font-size: 12px;
	  	line-height: 20px;
	  }
	  h1 {
        font-family: Brush Script MT,cursive;
        font-size: 35px;
        color: #6a8e6b;
	  }
	  h2 {
	  	font-family: Brush Script MT,cursive;
	  	font-size: 35px;
	  	color: #6a8e6b;
	  }
	  h3 {
	  	font-family: Brush Script MT,cursive;
	  	font-size: 35px;
	  	color: #6a8e6b;
	  }
	  h4 {
	  	font-family: Brush Script MT,cursive;
	  	font-size: 35px;
	  	color: #6a8e6b;
	  }
	  p {
	  	margin-bottom: 22px;
	  	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	  	color: #6a8e6b;
	  }
	  img {
	  	border: 0;
	  }
	  #banner h1{
    text-align: center;
    bottom: 25px;
    left: 50vw;
    margin-left: -250px;
    height: 130px;
    width: 500px;
}
	  #banner {
	  	padding-top: 20px;
	  	padding-bottom: 15px;
	  	margin-bottom: 30px;
	  	text-align: center;
	  	border: 2px white;
	  	margin: 0 auto;
	  	width: 500px;
	  }
	  #nav a{
	  	margin-bottom: 50px;
	  	border: 2px white;
	  	font-family: Georgia Header;
	  	font-weight: bold;
	  	color: #6a8e6b;
	  	text-transform: uppercase;
	  	padding: 10px;
	  	margin-right: 10px;
	  }
	  #main {
	  	width: 650px;
	  	margin-bottom: 30px;
	  	border: 2px white;
	  	margin: 0 auto;
	  }
	  #footer {
	  	width: 650px;
	  	border: 2px white;
	  	margin: 0 auto;
		margin-left: auto;
		margin-right: auto;
		font-family: Roboto;
		color: #000000;
		font-size: 15px;
		text-transform: uppercase;
		padding-top: 20px;
	  }
	  .imgLeft {
	  	float: left;
	  	margin-right: 15px;
	  }
	  .imgRight {
	  	float: right;
	  	margin-left: 15px;
	  }